@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: #ffffff;
  --color-primary: #FF690B;
  --color-secondary: #3932C0;
  --color-gris: #d5d5d5;
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.slick-prev:before, .slick-next:before {
  color: rgba(255,105,11,0.5) !important;
}

.slick-slide > div {
    margin: 0 10px;
    transition: all 0.3s ease-in-out;
    transform: scale(0.8);
    opacity: 0.5;
}

.slick-list{
    margin: 0 -10px;
    
}

.slick-track{

  padding-top: 10;
    padding-bottom: 10;
}

.slick-slide.slick-current > div {
    transform: scale(1);
    opacity: 1;
}

/* Para los SVG que usan stroke="currentColor" (por ejemplo tus iconos custom) */
.icon-tabler {
  color: rgba(255,105,11,0.5);
}